Options -Indexes

<Files "leadhive-config.php">
  Require all denied
  Order allow,deny
  Deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Pass API calls directly to PHP script without SPA routing
  RewriteCond %{REQUEST_URI} !^/api/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
